<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Kross | Portfolio Template</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html"><img src="images/ada_logo.png" style="width: 90px; height:45px "alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Project</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">Brief Information About Our Project</h3>
        <p class="font-secondary">Published on April 28, 2021 <span class="text-primary"></span>
               <p class="text-primary"><span></span> </p>
        <div class="content">
          <img src="images/blog/post-1.jpg" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
          <strong>Nowadays, online learning has become so popular around the world. This is especially true when it comes to mobile apps and other related technologies. The mobile app technologies in general have transformed our larger society. It has become central to people’s daily lives. And yet technology has been kept in the periphery of schools, used for the most part only in specialized courses .Technology in form of digital content delivered through devices such as smartphones, computers, and handheld tablets can help the students to get quality content and uniform instruction without much dependence on parameters such as availability of qualified teachers and location of schools In this sense, this app with training content and additional source of learning will help students to overcome those challenges. With using this education app although the teacher and the student are separated geo­graphically,
            students will be able to learn through platform. So, people will gain knowledge with helping this technology whenever they want.</strong>
          <p><br>• Project Objectives<br>
            Education is an important aspect that plays a huge role in the modern, industrialized world. People need a good education to be able to survive in this competitive world. Unfortunately, in Azerbaijan people who live in rural areas face many problems. Students are not able to study because of lack of resources including physical distance to the schools, poverty, lack of books and proper infrastructure and so on. Most importantly, in many urban areas there is not enough teachers. Moreover, due to COVID-19, all students are not able to go to school, and we have not enough resources to provide them. As an example, several universities and schools offered platforms free in a short period of time such as Udemy, Coursera, Edx. However, we are not provided with these kinds of apps all
            time, and students in rural areas need to have an access a new app which provide them knowledge in all periods of time. Based on our research, we found out such projects in other countries, and we believe all students will be able to get a benefit from this app, and our main aim which is to spread learning, and education as students' most powerful weapon in their life.
            <br>• Purpose<br>
            The purpose of developing Education mobile application is to provide the students with services that could facilitate their learning process. The application consists of video tutorials and practice assignments which helps the students in stimulating their mind and gets more interested in learning. The students should do the assignments posted on the system and submit them before the deadline. All the submitted files should be checked by the instructors later. This process could help the students to evaluate their knowledge, identify the weaknesses on the specific subject, and improve themselves by working on those weak points. Apart from high-level purpose, application is designed to be easily maintainable and self-sustaining. In other words, it should require a minimum of manual intervention and maximum of automatization.
            <br>• Significance<br>
            We believe majority of the students will use our application who has familiarity in using the mobile apps, and as a result it will not be problematic for them to learn how to use Education Mobile App. Most of the functionalities are based on the needs of the students and will be helping them in their daily studying. The app contains many reading materials, also the app offers a list of classes, and it organizes them by categories like math, language, literature, and physics. All the materials uploaded to app is divided into sections and the students can benefit those materials with free of charge. During the pandemic situations,
            we saw that compared to student studying at University, school children had more difficulties in terms of lack of such platforms. Thus, this app will help them to get easily adapted with their learning process.</p>
          <p><br>• Problem Statement<br>
            Providing access to quality education and expanding learning opportunities for the students of the underserved
            communities in both rural and urban areas continues to be a major challenge. As the health crisis unfolded, it caused massive</p>
          <blockquote>As the health crisis unfolded, it caused massive disruptions in socio-economic and education systems around the world..</blockquote>
          <p> Governments decided to switch to online education method to ensure education continuity and protect the safety of learners and education actors by closing schools and other learning spaces. Unfortunately, students or with another word “our future” are not able to study and because of the problems including poverty, lack of books and proper infrastructure. Many schools do not have adequate resources to invest in teaching and learning aids. There is a clear evidence to suggest that achievement levels tend to decline as the children move along the educational hierarchy. This shows that schools are not able to cope with the teaching learning load as the pupils’ progress through various grades. There is a need for transformation in the way people find, learn and consume educational content. Moreover, the training content used in this education platform can be modified and updated on the spot, without having to incur printing costs. Importantly,
            during emergencies and situations that need online learning method, the mobile app is much handier.</p>
          <center><a href="/download/file/Education App Azerbaijan.zip" style="display: block;
    width: 615px;
    height: 50px;
    background: #542cb7;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;">You can download our report here</a></center>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="#" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                        placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">edu.app.azerbaijan@email.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">+880 2544 658 256</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
      var CurrentYear = new Date().getFullYear()
      document.write(CurrentYear)
    </script> a theme by <a href="https://themefisher.com">ada.edu.az</a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/js/script.js"></script>

</body>
</html>